body{
	background-color: #EEC015 ;
}

.main{
	background-color: #DCDCDC ;
	height: 300px ;
	margin-top: 85px;
}

.logo{
	height: 280px;
	padding-left: 120px; 
}

.def{
	padding-left: 450px;
	margin-top: -190px;
	font-size: 20px;
	font-family: fantasy ;
	color: black ;
}

.about{
	color: black ;
	font-size: 20px;
	position: fixed;
	top: 95%;
	left: 50%;
}

.about:hover{
	text-decoration: none;
}

.mobile{
	margin-left: 780px;
	margin-top: -300px;
}
figure.mobile img {
	max-width: none;
	width: 150px;
	margin-top: 60px;
	/*width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);*/
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.mobile figcaption {
	text-align: left;
}

figure.mobile figcaption > div {
	position: absolute;
	margin-left: 730px;
	margin-bottom: 230px;
	bottom: 0;
	left: 0;
	padding: 4em;
	/*width: 100%;
	height: 50%;*/
}

figure.mobile h2,
figure.mobile p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.mobile h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.mobile p {
	/*color: rgba(255,255,255,0.8);*/
	color: white ;
	font-weight: bolder;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.mobile:hover img,
figure.mobile:hover p {
	opacity: 1;
}

figure.mobile:hover img,
figure.mobile:hover h2,
figure.mobile:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.mobile:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


.domestic{
	margin-left: 980px;
	margin-top: -280px;
}
figure.domestic img {
	max-width: none;
	width: 155px;
	height: 205px;
	margin-top: 60px;
	/*width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);*/
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.domestic figcaption {
	text-align: left;
}

figure.domestic figcaption > div {
	position: absolute;
	margin-left: 920px;
	margin-bottom: 230px;
	bottom: 0;
	left: 0;
	padding: 4em;
	/*width: 100%;
	height: 50%;*/
}

figure.domestic h2,
figure.domestic p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.domestic h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.domestic p {
	/*color: rgba(255,255,255,0.8);*/
	color: white ;
	font-weight: bolder;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.domestic:hover img,
figure.domestic:hover p {
	opacity: 1;
}

figure.domestic:hover img,
figure.domestic:hover h2,
figure.domestic:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.domestic:hover p {
	font-size: 14px;
	padding-left: 7px;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}



.screens{
	margin-left: 1180px;
	margin-top: -280px;
}
figure.screens img {
	max-width: none;
	width: 170px;
	height: 200px;
	margin-top: 60px;
	/*width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);*/
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.screens figcaption {
	text-align: left;
}

figure.screens figcaption > div {
	position: absolute;
	margin-left: 1130px;
	margin-bottom: 230px;
	bottom: 0;
	left: 0;
	padding: 4em;
	/*width: 100%;
	height: 50%;*/
}

figure.screens h2,
figure.screens p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.screens h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.screens p {
	/*color: rgba(255,255,255,0.8);*/
	color: white ;
	font-weight: bolder;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.screens:hover img,
figure.screens:hover p {
	opacity: 1;
}

figure.screens:hover img,
figure.screens:hover h2,
figure.screens:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.screens:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}