body{
	background-color: #256176;
	color: #f0c259;
}

img{
	width: 550px;

}

.sbar{
	text-align: right;
	font-weight: bold;
}

h2{
	color: #f0c259;
	font-weight: bold;
}

legend{
	font-size: 20px;
	font-weight: bold;
}

p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.fbImage{
	width: 50px;
}

a{
	text-decoration: none;
	color: #f55b51;
}